* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  color: purple;
}

.read-or-not {
  border: 1px solid purple;
  width: 25%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.show-hide-and-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.library-header {
  display: flex;
  justify-content: center;
}

#library {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  border: 5px solid purple;
  font-size: large;
  padding: 10px 50px;
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book-button {
  width: 25%;
  font-size: large;
}
