* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xxx-large;
  color: purple;
}

#library {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book {
  border: 5px solid purple;
  font-size: large;
  padding: 10px;
  margin: 5px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.remove-book-button {
  width: 25%;
  font-size: large;
}